#main{
    height: 100%; width:100%; font-size: 0;
}

#pinggir, #isi{display: inline-block; vertical-align: top; font-size: 14px; font-family: calibri}

#pinggir{
    width: 25%;
}


#isi{
    width: 50%;
    align-content: center;
    vertical-align: top;
    padding: 1%;
}

#foto{
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%
}

#box {
    background-color: cyan;
    width: 75%;
    border: 3px solid gray;
    padding: 1%;
    /* margin-left: 5% */
  }

