{% load static %}
<html>
    <head>
        <title>Profilku</title>
        <link rel="stylesheet" href="{% static 'Profil.css' %}">
    </head>
    <body>
        <div>
        </div>
        <div id="main">
            <div id="pinggir">
            </div>
            <div id="isi" style="background: lightgrey">
                
            <h1 style="text-align: center">PROFIL</h1>
                    <a href="https://web.facebook.com/adit.jd.3" target="_blank">Facebook</a>
                    <a href="https://www.instagram.com/athed03/" target="_blank">Instagram</a>
                    <a href="https://www.youtube.com/channel/UCmpRu3puUZ94IZKmnGuOfLg?view_as=subscriber" target="_blank">youtube</a>
                    <a href="https://www.linkedin.com/in/aditya-perwira-225a58118/" target="_blank">Linkedin</a>
                    <a href="https://github.com/athed03" target="_blank">Github</a>
                <img id="foto" src="{% static 'foto.jpg' %}" width="20%">
                <div id="isi" style="width: 45%">
                    <div id="box">
                        Nama
                    </div>  
                    <p style="margin-left: 10%">{{ name }}</p>
                    <div id="box">
                        Tempat, Tanggal Lahir
                    </div>  
                    <p style="margin-left: 10%">Mataram, {{ birth_date }}</p>
                    <div id="box">
                        No HP
                    </div>  
                    <p style="margin-left: 10%">087765506760</p>
                    
                    
                </div>
                <div id="isi"  style="width: 45%">
                    <div id="box">
                        Alamat
                    </div>  
                    <p style="margin-left: 10%">Pemenang, Lombok Utara</p>
                    <div id="box">
                        Instansi
                    </div>  
                    <p style="margin-left: 10%">Universitas Mataram</p>
                    <div id="box">
                        E-mail
                    </div>  
                    <p style="margin-left: 10%">aditjd@gmail.com</p>
                </div>
                <p style="text-align: justify">"Menjadi seorang programmer adalah suatu hal yang sangat menyenangkan. Bagaimana kita bisa berkomunikasi dengan logika dan 
                    pikiran sendiri. Bekerja tanpa harus memikirkan perasaan orang lain. Merakit suatu kode program. Menghasilkan suatu
                    hal yang dapat bermanfaat bagi orang lain tanpa alat serumit teknisi benda-benda fisik"
                </p>

            </div>
            <div id="pinggir">
            </div>
                
        </div>
    </body> 
</html>